<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
    <body>
        <%- include('includes/header') %>
        <main>
            <h2>Welcome to your dashboard</h2>
        </main>
        <%- include('includes/footer') %>
    </body>
</html>
